.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 300px;
  padding: 10px;
}
.width{
  width: 280px;
}
mat-card {
  margin: 15px;
}
.button-center{
  margin:10px;
  display: flex;
  justify-content: center;
}
